# Игнорировать файлы Python Bytecode
__pycache__/

# Игнорировать виртуальное окружение
venv/

# Игнорировать файлы с настройками PyCharm
.idea/

# Игнорировать файлы локальных настроек Django
settings/local_settings.py
